{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Sneakers Shop</title>
  <link type = "text/css" href="{% static 'lifeplan/css/anothercss.css' %}" rel = "stylesheet"/>
</head>
<body>
  <header class="main-header">
    <nav class="navbar">
      <a href="{% url 'base'%}"><img class="navbar-logo" alt="Logo" src="{% static 'lifeplan\images\logo.png' %}"></img></a>
      <ul>
      {% for menu_item in menu %}
        <li><a href="{% url menu_item.url_name %}">{{ menu_item.title }}</a></li>
      {% endfor %}
        <li class="last"><a href="#">Sign Up</a></li>
        <li class="last"><a href="#">Log In</a></li>
      </ul>
    </nav>
  </header>

  <main class="main-menu">
    <nav class="navbar-left">
      <div>
        <ul>
          <li><a>All categories</a></li>
          {% for category in categories %}
          <li><a>{{ category.brand }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="main-container">
      <div class="main-content">
        {% block content %}
        {% for product in products %}
          <div class="product">
            <a>{{ product.model_name }}</a>
            <p><img class="img-product" src="{{ product.photo.url }}"></img></p>
            <button><a href="{{ product.get_absolute_url }}">More</a></button>
          </div>
        {% endfor%}
        {% endblock %}
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="page-footer_container">
      <div class="page-footer-row">
        <div class="page-footer-left">
          <h1 class="footer-left-header">Our rules</h1>
          <ul>
            <li>Be strong</li>
            <li>Be brave</li>
            <li>Be gay</li>
          </ul>
        </div>
        <div class="page-footer-right">
          <h1>Our sites</h1>
          <ul>
            <li>inst</li>
            <li>teleg</li>
            <li>VK</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>