{% load static %}
{% load shop_tags %}
<!doctype html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link type = "text/css" href="{% static 'lifeplan/css/anothercss.css' %}" rel = "stylesheet"/>
  <link rel="icon" type="image/x-icon" href="{% static 'lifeplan\images\sneakers.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <header class="main-header">
    <nav class="navbar">
      <a href="{% url 'base'%}"><img class="navbar-logo" alt="Logo" src="{% static 'lifeplan\images\logo.png' %}"></img></a>
      <ul>
      {% for menu_item in menu %}
        <li><a href="{% url menu_item.url_name %}">{{ menu_item.title }}</a></li>
      {% endfor %}
        {% if request.user.is_authenticated %}
          <li class="last"><a></a> <a href="{% url 'logout' %}">Log Out</a></li>
          <a href="{% url 'user'%}"><img class="navbar-cart-icon" alt="Logo" src="{% static 'lifeplan\images\user.png' %}"></img></a>
        {% else %}
          <li class="last"><a href="{% url 'registration' %}">Sign Up</a></li>
          <li class="last"><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
        <a href="{% url 'cart'%}"><img class="navbar-cart-icon" alt="Logo" src="{% static 'lifeplan\images\add-to-cart.png' %}"></img></a>
      </ul>
    </nav>
  </header>

  <main class="main-menu">
    <nav class="navbar-left">
      <div>
        <ul>
          {% if selected_category == 0 %}
          <li><a class="selected">All categories</a></li>
          {% else %}
          <li><a href="{% url 'base' %}">All categories</a></li>
          {% endif %}
          {% show_categories selected_category %}
        </ul>
      </div>
    </nav>
    <div class="main-container">
      <div class="main-content">
        {% block content %}
        {% for product in products %}
          <div class="product">
            <a class="product-name">{{ product.model_name }}</a>
            <img class="img-product" src="{{ product.photo.url }}"></img>
            <a class="button-product" href="{{ product.get_absolute_url }}">More</a>
          </div>
        {% endfor%}
        {% endblock %}
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="page-footer_container">
      <div class="page-footer-row">
        <div class="page-footer-left">
          <h1 class="footer-left-header">Our rules</h1>
          <ul>
            <li>Be strong</li>
            <li>Be brave</li>
            <li>Be cat</li>
          </ul>
        </div>
        <div class="page-footer-right">
          <h1>Our sites</h1>
          <ul>
            <li>inst</li>
            <li>teleg</li>
            <li>VK</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>