html,body{
    font-family: 'Arial';
    margin:0px;
    padding:0px;
    height:100%;
}


.main-header{
    background:#000;
}

.navbar {
    display:flex;
    height: 70px;
}

.navbar-logo {
    display:block;
	width: 100px;
	height: 90px;
	padding: 0px 0px 0px 10px;
}

.navbar ul {
    flex-grow:1;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #fff;
	font-size: 20px;
	overflow: hidden;
}

.navbar ul li {
    float: left;
	margin: 22px 40px 0 30px;
}

.navbar ul li.last {
    float:right;
}

.navbar-cart-icon {
    float: right;
	width: 40px;
	height: 30px;
	margin: 17px 15px 10px 10px;
}

.navbar ul li a{
    color: #fff;
}

.navbar ul li a:link{
    text-decoration: none;
}

.navbar ul li a:hover{
    color: #FDA83D;
}

.main-menu{
    display:flex;
}

img.img-product {
	max-width: 200px;
	height: 200px;
}

.main-container{
    flex-grow: 1;
    overflow:auto;
}

.main-content{
    display: flex;
    flex-wrap:wrap;
    padding: 100px 100px 100px 100px;
}

div.product {
    text-align: center;
    padding: 20px;
    margin: 1%;
    width: 18%;
}

a.product-name{
    display:block;
    font-size: 20px;
    height: 57px;
}

a.button-product{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
}

.navbar-left {
    min-height:100vh;
    width:230px;
    background:#eee;
    border-right: 1px solid #ccc;
}

.navbar-left div{
    padding:20px;
    height:100%;
}

.navbar-left div ul{
    width: 230px;
    min-height: 100%;
    margin: 0;
    padding: 20px 10px 10px 20px;
    list-style: none;
    font-size: 20px;
}

.navbar-left div ul li {
    margin: 30px 0 0 0;
}

.navbar-left div ul li a{
    color:#000;
}

.navbar-left div ul li a.selected{
    color: #e03a14;
}

.navbar-left div ul li a:link{
    text-decoration: none;
}

.navbar-left div ul a:hover{
    color: #e03a14
}

.footer {
    min-height:200px;
    width:100%;
    background:#000;
}

.page-footer_container{
    max-width: 1022px;
    margin: 0 auto;
    width: 100%;
}

.page-footer-row{
    display:flex;
}

.page-footer-left{
    flex:1;
}

.page-footer-right{
    margin: 0px 0px 0px 300px;
    flex:1;
}

.page-footer-left h1{
    color:#fff;
    margin: 10px 0px 0px 0px;
}

.page-footer-right h1{
    color:#fff;
    margin: 10px 0px 0px 0px;
}

.page-footer-left ul{
    margin: 0;
    padding: 0px 10px 10px 20px;
    list-style: none;
    font-size: 20px;
}
.page-footer-left ul li {
    margin: 20px 0 0 0;
    color:#fff;
}

.page-footer-right ul{
    margin: 0;
    padding: 0px 10px 10px 20px;
    list-style: none;
    font-size: 20px;
}
.page-footer-right ul li {
    margin: 20px 0 0 0;
    color:#fff;
}

.registration-form {
    margin: 50px 0px 0px 0px;
    align-items: center;
    text-align:center;
}

label {
    color: black;
}

.input {
    position: relative;
    padding: 0.7em;
    background: #fff;
    box-shadow: none;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
    height: 20px;
}

.registration-container {
    min-width: 500px;
    border-radius: 10px;
    background-color: #d1dae8;
    height: 500px;
    margin: 0% 20% 0px 25%;
}

.errorlist {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #eb300c;
	font-size: 15px;
	overflow: hidden;
}

.errors-block{
    margin: 25px 0px 0px 0px;
}

.product-page{
    display: flex;
}

.img-product-container{
    height: 100%;
}

.img-product-page{
    width: 400px;
    height: 400px;
}
.product-description {
    height: 100%;
    margin: 0px 50px 0px 100px;
}

button a:link {
    text-decoration: none;
}

.centered{
    text-align: center;
}

.h1-centered {
    position: relative;
}


.centered-d{

}

.centered-size{
    color: #000;
    font-size: 26px;
    font-weight: 700;
    width: 100%
}

.centered-s {
    display: flex;
}

.centered-s-i{
    margin: 0px 20px 0px 0px;
    border-color: #999;
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 20px 10px 20px;
}

.centered-p{
    align-items: center;
    border: 0 #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0px 0px 0px;
}

.final-price{
    float:left;
    font-size: 30px;
}

.add-to-cart{
    height: 50px;
    width: 150px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart:hover{
    background-color: #414543;
}

.btn-add-to-cart {
    color: white;
    font-size: 23px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

